@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Do+Hyeon&family=Karla:ital,wght@0,200..800;1,200..800&family=Nanum+Myeongjo:wght@400;700&family=Noto+Sans+KR:wght@100..900&family=Playfair+Display:ital,wght@0,500;1,500&display=swap');


  .small .embla {
    height:100%;
    width:100%;
    /* max-width: 48rem; */
    margin: auto;
    --slide-height: 19rem;
    --slide-spacing: 1rem;
    --slide-size: 100%;
  }
  .small .embla__viewport {
    height:100%;
    width:100%;
    overflow: hidden;
  }
  .small .embla__container {
    height:100%;
    width:100%;
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
  }
  .small .embla__slide {
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: 1.5rem;
    /* padding-left: var(--slide-spacing); */
  }

  .big .embla {
    height:100%;
    width:100%;
    max-width: 48rem;
    margin: auto;
    --slide-height: 19rem;
    --slide-spacing: 1rem;
    --slide-size: 50%;
  }
  .big .embla__viewport {
    height:100%;
    width:100%;
    overflow: hidden;
  }
  .big .embla__container {
    height:100%;
    width:100%;
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
  }
  .big .embla__slide {
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: 1.5rem;
    /* padding-left: var(--slide-spacing); */
    overflow: visible;
  }
  

  [data-aos="skill-animation"] {
    opacity: 0;
    transform: rotate(270deg);
    transform-origin: 30% 50%;
    transition-property: transform, opacity;
  
    &.aos-animate {
      opacity: 1;
      transform: translate3d(0, -200px, 0) rotate(270deg);
    }
  }
