.embla {
    overflow: hidden;
    height:100%;
    width:100%;
  }
  .embla__container {
    display: flex;
    height:100%;
    width:100%;
  }
  .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
    margin-left: 10px;
    height:100%;
    width:100%;
  }

  [data-aos="skill-animation"] {
    opacity: 0;
    transform: rotate(270deg);
    transform-origin: 30% 50%;
    transition-property: transform, opacity;
  
    &.aos-animate {
      opacity: 1;
      transform: translate3d(0, -200px, 0) rotate(270deg);
    }
  }

  [data-aos="project-animation"] {
    transform: translate3d(-600px, 0, 0);
    transition-property: transform;
    &.aos-animate {
      transform: translate3d(0, 0, 0);
    }
  }